
<div class="jumbotron">
  <img src="img/wood.jpg" class="img-responsive" alt="background" />
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="gotoElement('portfolio')"><h4>Portfolio</h4></a></li>
          <li><a ng-click="gotoElement('about')"><h4>About</h4></a></li>
          <li><a href="#/home/details"><h4>Contact</h4></a></li>
        </ul>
      </div>
    </div>
  </nav>


    <div id="container-details">
  	<a href="#/home/details"></a>
  	<!-- Nested views will be shown here -->
  	<ui-view></ui-view>
    </div>
  </div>



<div class="container">
  <div class="box rotate">
    <div class="element"> <img src="img/skate.jpg" alt="skater dude"></div>
  </div>
</div>
<div class="sticky-note-container">
  <p><h1 style="text-align: center; color: white">SKILLS</h1></p>
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1">
        <li><img class="img-responsive" src="img/html5.jpg" alt="sticky note"></li>
      </div>
      <div class="col-sm-3 col-sm-offset-0">
        <li><img class="img-responsive" src="img/css3.jpg" alt="sticky note"></li>
      </div>
      <div class="col-sm-3">
        <li><img class="img-responsive" src="img/java.jpg" alt="sticky note"></li>
      </div>
    </div>
  </div>
  <br/>

  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1">
        <li><img class="img-responsive" src="img/ang.jpg" alt="sticky note"></li>
      </div>
      <div class="col-sm-3 col-sm-offset-0">
        <li><img class="img-responsive" src="img/sql.jpg" alt="sticky note"></li>
      </div>
      <div class="col-sm-3">
        <li><img class="img-responsive" src="img/node.jpg" alt="sticky note"></li>
      </div>
    </div>
  </div>
</div>




<div class="portfolio-container">
  <div id="portfolio"></div><br/>
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <p>Some text..</p>
      <img class="img-responsive" id="img1" src="img/kombat.jpg" alt="Mortal Kombat logo" alt="Image">
    </div>
    <div class="col-sm-3 col-sm-offset-0">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>
<br/>


<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>
</div><br><br>

<div class="about-container">
<div class="container text-center">
  <div id="about"><h2>HELLO</h2></div><br/>
     <div class="row">
         <div class="col-md-4 col-sm-offset-2">
            <div class="info">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>

            </div>
          </div>
       <div class="col-md-4">
          <div class="info">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
         </div>
      </div>
   </div>
</div>
</div>

<footer class="footer1">
  <div class="footer">
       <div class="container">
           <div class="row">
             <div class="col-xs-12">
               <p><h3 style="color: white; text-align: center">Noah Tippetts A Full-Stack Web Developer</h3></p>
               <p><h4 style="color: white; text-align: center">6183 s 1550 e South Ogden UT</h4></p>
               <p><h4 style="color: white; text-align: center">385-238-9734</h4></p>
               <p><h4 style="color: white; text-align: center">nbtippetts@gmail.com</h4></p>
                   <ul class="social">
                       <li><a href="https://www.facebook.com/noah.tippetts.3"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="https://www.instagram.com/noha_trippetts/"><i class="fa fa-instagram"></i></a></li>
                       <li><a href="https://github.com/nbtippetts"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                       <li><a href="https://www.linkedin.com/in/noah-tippetts-614418130"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                   </ul>
               </div>
             </div> <!--/.row-->
      </div> <!--/.container-->
  </div>
</footer>
