<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mouse Shadow</title>
</head>
<body>

  <div class="hero">
    <h1 contenteditable>🔥WOAH!</h1>
  </div>

  <style>
  /*html {
    color:black;
    font-family: sans-serif;
  }*/

  .hero {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

  }

  .hero h1 {
    text-shadow: 10px 10px 0  #99ebec;
    font-size: 100px;
  }
  </style>

<script>
var hero = document.querySelector('.hero');
var text = hero.querySelector('h1');
var walk = 100;

function updateMouse(e) {
  var { offsetWidth: width, offsetHeight: height } = hero
  let { offsetX: x, offsetY: y } = e;

  if (this !== e.target) {
    x = x + e.target.offsetleft;
    y = y + e.target.offsettop;
  }

  var xWalk = Math.round((x / width * walk) - (walk / 2));
  var yWalk = Math.round((y / height * walk) - (walk / 2));

  text.style.textShadow = `${xWalk}px ${yWalk}px`;

}

hero.addEventListener('mousemove', updateMouse);

</script>
</body>
</html>
