<!-- <div class="social-container">
      <div class="col-xs-5">
            <ul class="sidebar-social">
                <li><a href="https://www.facebook.com/noah.tippetts.3"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/noha_trippetts/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://github.com/nbtippetts"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/noah-tippetts-614418130"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
</div> -->
