<div class="rig">

      <div class="leftArm">
        <div class="upperLeftArm">
          <div class="lowerLeftArm">
            <div class="leftHand"></div>
          </div>
        </div>
      </div>

      <div class="leftLeg">
       <div class="upperLeftLeg">
           <div class="lowerLeftLeg">
            <div class="leftFoot"></div>
          </div>
        </div>
      </div>

      <div class="torso">
        <div class="spike1"></div>
        <div class="spike2"></div>
        <div class="spike3"></div>
      </div>
      <div class="head">
        <div class="spike4"></div>
        <div class="spike5"></div>
        <div class="spike6"></div>
        <div class="nose"></div>
        <div class="ear"></div>
      </div>

      <div class="rightLeg">
        <div class="upperRightLeg">
          <div class="lowerRightLeg">
            <div class="rightFoot"></div>
          </div>
        </div>
      </div>

      <div class="rightArm">
        <div class="upperRightArm">
          <div class="lowerRightArm">
            <div class="rightHand"></div>
          </div>
        </div>
      </div>

  </div>


  <div class="sky">
     <div class="moon"></div>
     <div class="clouds_one"></div>
     <div class="clouds_two"></div>
     <div class="clouds_three"></div>
   </div>

   <a ui-sref="loading"><button>Click To See</button>
