.text {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
}

.about-me-container {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#about {
  color: white;
}


.profile-container {
  color: white;
  padding-top: 3%;
  height: 650px;
}

.profile-container img {
  border: 3px solid white;
  border-radius: 200px;
  margin: 0 auto;
  height: 400px;
}
