.portfolio-container {
  padding-top: 3%;
  padding-bottom: 3%;
  height: 650px;
  border-bottom: 40px solid white;
}

.portfolio-container .row {
  display: flex;
  justify-content: space-around;
}

#portfolio{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2%;
  color: white;
  border-bottom: 3px solid white;
}

.games {
  background-color: white;
}
