.sticky-note-container {
    padding-top: 2%;
    padding-bottom: 2%;
    list-style: none;
}

.element {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

#element {
  height: 200px;
}


#element button {
  height: 30px;
  width: 150px;
  padding-top: 4px;
  text-align: center;
  background-color: #18BC9C;
  color: white;
  border: 1px solid white;
  transition: 1s;
  transition-duration: 1s;
}

#element button:hover {
  height: 28px;
  width: 148px;
  background-color: #010c2d;
  transition: 1s;
  transition-duration: 1s;
}
